body {
    padding: 5px;
}

textarea{
    border: none;
    background-color: white;
}

textarea:focus{
    border: none !important;
    outline: none;
}


#tools{
    position: fixed;
    top: 100px;
    right:5px;
    display: flex;
    flex-direction: column;
}

#links{
    position: fixed;
    top: 100px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

#tools button{
    flex: content;
    margin: 10px 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.element{
    height: 100%;
    width: 100%;
    display: block;
    
}

.element-toolbar{
    position: absolute;
    z-index: 5;
    top:  5px;
    right: 5px;
    border: 1px gray solid;
    width: 100px;
    height: 25px;
}




.wrapper{
    background-color: white;
    resize:both;
    overflow: hidden;
    border: 1px #77A6F7 solid;
    border-radius: 5px;
    position: absolute; 
}

.wrapper:hover{
    border-color: black;
    cursor:grab;
    z-index: 2;
}