body {
    padding: 5px;
}

textarea{
    border: none;
    background-color: white;
}

textarea:focus{
    border: none !important;
    outline: none;
}


#tools{
    position: fixed;
    top: 100px;
    right:5px;
    display: flex;
    flex-direction: column;
}

#links{
    position: fixed;
    top: 100px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px #77A6F7 solid;
    border-radius: 5px;
}

#linkModal{
    background-color: #fefefe;
    margin: 25% auto; 
    padding: 50px 20px;
    border: 1px solid #888;
    width: 80%; 
}
#linkModal label{
    display: block;
}

#tools button{
    flex: content;
    margin: 10px 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.element{
    height: 100%;
    width: 100%;
    display: block;
    
}

.element-toolbar{
    position: absolute;
    z-index: 5;
    top:  5px;
    right: 5px;
    border: 1px gray solid;
    width: 100px;
    height: 25px;
}

.wrapper{
    background-color: white;
    resize:both;
    overflow: hidden;
    border: 1px #77A6F7 solid;
    border-radius: 5px;
    position: absolute; 
}

.wrapper:hover{
    border-color: black;
    cursor:grab;
    z-index: 2;
}

.modal {
    /*display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  #modal-actions{
    text-align: right;
    
  }